<div class="cont-login-tex">
	<h1 class="titulo" title="Título Arcadia">Arcadia</h1>
	<h2 class="titulo-reg" title="Registro">Registro</h2>
</div>
<form action="#" method="get" class="form-registro" id="form-registro">
	<div class="form-cont-p">
		<div class="form-reg form2">	
			<div>
				<input type="text" name="nombre" id="nombre" placeholder="Nombre" title="Nombre"/>
			</div>
			<div>
				<input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" title="Apellidos"/>
			</div>
		</div>
		<div class="form-reg form2">	
			<div>
				<input type="text" name="identificacion" id="identificacion" placeholder="Identificación" title="Identificación"/>
			</div>
			<div>
				<input type="date" name="fecha-nacimiento" id="fecha-nacimiento" title="Fecha nacimiento"/>
			</div>
		</div>
		<div class="form-reg">
			<input type="email" name="email" id="email" placeholder="Email" title="Email"/>
		</div>
		<div class="form-reg">	
			<input type="password" name="password" placeholder="Contraseña" title="Contraseña"/>
		</div>
		<div class="form-reg form2">	
			<div>
				<select name="opciones" id="opciones" class="opciones" title="Género">
					<option value="">Seleccione Género</option>
					<option value="m">Masculino</option>
					<option value="f">Femenino</option>
					<option value="o">Otro</option>
				</select>
			</div>
			<div>
				<input type="text" name="telefono" id="telefono" placeholder="Teléfono" title="Teléfono"/>
			</div>
		</div>
		<div class="form-reg">
			<!-- <input type="submit" value="Enviar"> -->
			<button>Enviar</button>
		</div>
	</div>
</form>